$primary-color: #ffffff;
$secondary-color: #000000;
$accent-color: #f5a623;
$bg-dark: #111111;

$card-radius: 1rem;
$card-shadow: 0 6px 15px rgba(255, 255, 255, 0.3);

$transition: all 0.3s ease-in-out;
